/* Stylesheet for the application */

/* FOG Standard blå farve har #174B87 som hex kode */

header{
    background-color: #174B87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    list-style: none;
}
nav{
    padding: 0px 10px;
    display: inherit;
    align-items: center;
    height: inherit;
}
ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    padding-inline-start: unset;
    margin-block: unset;
    height: inherit;
}
li{
    padding: 20px;
    font-size: x-large;
}

a{
    color: white;
    text-decoration:none;
}

li:hover{
    background-color: white;
}
li:hover a{
  color: #174B87;
}

.logincontainer .icon {
    display: none;
}

.icon {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.dropdownmenubutton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.dropdownlinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Initially hide the links */
}

.dropdownlinks li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.dropdownlinks a {
    text-decoration: none;
    color: white;
}

/* Media query for small screens */
@media screen and (max-width: 600px) {
    .icon{
        display: flex;
    }
    .links{
        display: none;
    }
    .dropdownlinks.show {
        display: flex; /* Show the links when the "show" class is present */
        justify-content: end;
        position: absolute;
        background-color: #174B87;
        width: 97.3%;
        top: 108px; /* Adjust as needed to position the links below the button */
        right: 8px;
        z-index: 1;
        min-width: 300px;
    }

}
.icon .dropdownmenubutton {
    cursor: pointer;
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.logincontainer{
    margin: auto;
    width: 80%;
    margin-top: 20px;
}
.loginform{
    padding-top: 20px;
    padding-bottom: 20px;
}
.inputlabel{
    padding-left: 10%;
}
.logincontainer input[type=text]{
    margin: auto;
    width: 80%;
    display: flex;
    box-sizing: border-box;
    border: 2px solid #174B87;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
    }
.logincontainer input[type=password]{
    margin: auto;
    width: 80%;
    display: flex;
    box-sizing: border-box;
    border: 2px solid #174B87;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
}

.order-box {
    color: black;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    background-color: #174B87;
    text-decoration: none; /* Remove underline from anchor tags */
}

.order-details {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background-color: #fff;
}

.order-box:hover {
    background-color: #e0e0e0; /* Hover effect */
}

.order-box {
    cursor: pointer;
}

.orderlines > div > p {
    margin-top: 5px;
    margin-bottom: 5px;
}





/* Front page css */
.picture-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 100%; /* Full width of the viewport */

}
/* Style for each picture and text */
.picture-container > div {
    width: 49%; /* Each picture takes up 49% of the screen */
    box-sizing: border-box; /* Include padding and border in the width */
}

.picture-container a {
    display: block; /* Make the link a block-level element to take up the entire container */
    text-decoration: none; /* Remove the default underline */
}

.picture-container img {
    width: 100%; /* Image takes up 100% of the container */
    height: auto; /* Maintain aspect ratio */
}

.picture-container .frontpagePictureText {
    text-align: center;
    margin-top: 10px; /* Add some space between the picture and text */
}

#map {
    margin: auto;
    height: 600px; /* The height is 400 pixels */
    width: 80%; /* The width is the width of the web page */
    margin-top: 100px;
}
.gm-style img {
    max-width: 30px;
}