/* Stylesheet for the application */

/* FOG Standard blå farve har #174B87 som hex kode */

header{
    background-color: #174B87;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    list-style: none;
}
nav{
    display: inherit;
    align-items: center;
    height: inherit;
}
ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    padding-inline-start: unset;
    margin-block: unset;
    height: inherit;
}
li{
    padding: 20px;
    font-size: x-large;
}

a{
    color: white;
    text-decoration:none;
}

li:hover{
    background-color: white;
}
li:hover a{
  color: #174B87;
}

.logincontainer .icon {
    display: none;
}

.icon {
    display: none;
    padding: 25px;
}

@media screen and (max-width: 500px) {
    .icon{
        display: flex;
    }
    .links{
        display: none;
    }
    .dropdownlinks{
        display: none;
    }
}


.logincontainer input[type=text]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-image: url("/public/images/user-png-icon.png");
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    }
.logincontainer input[type=password]{
    background-image: url("/public/images/password-icon-png.jpg");
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logincontainer form {border: 3px solid #f1f1f1;}

.frontpage-imgcontainer div{
    margin-top: 10px;
    display: flex;
    margin-top: 10px;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}
.frontpage-imgcontainer a{
    width: inherit;
    max-width: 50%;
}
.frontpage-imgcontainer img{
    width: inherit;

}