<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="~{fragments :: head('FOG')}"></div>
<body>
<div th:replace="~{fragments :: top-nav}"></div>

It is empty here...
for now.






<!--
<h2>Order Detaljer</h2>

<p>Date: <span th:text="${orders.date}"></span></p>
<p>User ID: <span th:text="${orders.user_id}"></span></p>
<p>Carport Length: <span th:text="${orders.carport_length}"></span></p>
<p>Carport Width: <span th:text="${orders.carport_width}"></span></p>
<p>Shed Length: <span th:text="${orders.shed_length}"></span></p>
<p>Shed Width: <span th:text="${orders.shed_width}"></span></p>
<p>Status: <span th:text="${orders.status}"></span></p>

<h3>Materialer</h3>
<ol>
    <li th:each="material : ${orders.materials}">
        <p th:text=" ${material.material_id} +' Materiale ' + ' ' + ${material.material_description} + ' størrelse ' + ${material.size}"></p>
    </li>
</ol>

<h3>Samlet Beløb</h3>
<p th:text="'Samlet beløb: ' + ${orderline.total_price}"></p> -->

</body>
<div th:replace="~{fragments :: Footer}"></div>
</html>
