<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head(title)">
    <title th:text="${title}">Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>


<header th:fragment="top-nav">
    <img style="height: inherit" src="/images/fog_logo_2015-3003583891.jpg" alt="Logo">
    <nav>
        <ul>
            <li>
                <a href="Find Fog">Find Fog</a>
            </li>
            <li>
                <a href="Kurv">Kurv</a>
            </li>
            <li>
                <div th:switch="${#ctx.session.currentUser != null}" >
                    <a th:case="false" class="split" href="/login">Login </a>
                    <a th:case="true" class="split" th:text="${#ctx.session.currentUser.name}" href="/logout"></a>
                </div>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>
