<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head(title)">
    <title th:text="${title}">Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:fragment="top-nav">
<div class="top-nav">
    <ul>
        <li><img style="width: 100px; height: 200px; float: left" src="/images/fog_logo_2015-3003583891.jpg" alt="logo"><a th:href="@{/frontpage}" ></a>  </li>
        <li><a href="Menu?">Menu?</a></li>
        <li><a href="Kurv">Kurv</a></li>
        <li><a href="Find Fog">Find Fog</a></li>
    </ul>
</div>
</header>

<footer th:fragment="footer">
    <h1 ><a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Opret bruger</a></h1>
    <a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Opret bruger</a>
    <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Log ud</a>
    <a href="/public">Startside</a>
</footer>


<!--
<div id="page-container">
    <div id="page-content">
        <header th:fragment="topnav">
            <img src="images/fog_logo_2015-3003583891.jpg" height="50px" width="100%"/>
        </header>

        <footer th:fragment="footer">
            <h1 ><a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Opret bruger</a></h1>
            <a th:if="${#ctx.session.currentUser} == null" th:href="@{/createuser}">Opret bruger</a>
            <a th:if="${#ctx.session.currentUser} != null" th:href="@{/logout}">Log ud</a>
            <a href="/public">Startside</a>
        </footer>
    </div>
</div>
-->
</body>
</html>
