<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head(title)">
  <title th:text="${title}">Materiale</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<header th:fragment="header(title)">
  <img src="images/fog_logo_2015-3003583891.jpg" height="250" width="250"/>
  <h1 th:text="${title}"></h1>
</header>

<section>
  <h3>Order Details</h3>
  <!-- Display order details from the model -->
  <p>ID: <span th:text="${order.id}"></span></p>
  <p>Dato: <span th:text="${order.date}"></span></p>
  <p>User ID: <span th:text="${order.user_id}"></span></p>
  <p>Carport Længde: <span th:text="${order.carport_length}"></span></p>
  <p>Carport Bredde: <span th:text="${order.carport_width}"></span></p>
  <p>Shed Længde: <span th:text="${order.shed_length}"></span></p>
  <p>Shed Bredde: <span th:text="${order.shed_width}"></span></p>
  <p>Status: <span th:text="${order.status}"></span></p>
  <p>Antal Stolper: <span th:text="${numberOfPosts}"></span></p>
  <p>Antal Spær: <span th:text="${numberOfRafters}"></span></p>
  <p>Antal Remme: <span th:text="${numberOfStraps}"></span></p>

</section>
  <!-- Form to update the status -->
  <form action="/update-status" method="post">
    <label for="status">New Status:</label>
    <select name="status" id="status" required>
      <option value="Accepteret" th:selected="${order.status == 'Accepteret'}">Accepteret</option>
      <option value="Betalt" th:selected="${order.status == 'Betalt'}">Betalt</option>
    </select>
    <button type="submit">Opdatere Status</button>


</body>

</html>
